# Local environment secrets caching directory (handled in /dev/shm, but just in case)
*.env
.env*
!config.env

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform / OpenTofu
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Local binaries
bin/talosctl

# Talos local configs / secrets
controlplane.yaml
worker.yaml
talosconfig
kubeconfig

# Python compilation artifacts
__pycache__/
*.pyc
